[user]
	name = Yassperx
	email = elmessariyassine15@gmail.com
	username = yassperx
[init]
	defaultBranch = master
[core]
	editor = nvim
[web]
	browser = google-chrome
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[github]
	user = yassperx
	token = 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